$AUTHOR: 'j';

// flex 布局
.#{$AUTHOR}-flex { display: flex; }
.#{$AUTHOR}-flex_row{ flex-direction: row; }
.#{$AUTHOR}-column{ flex-direction: column; }
.#{$AUTHOR}-row-reverse{ flex-direction: row-reverse; }
.#{$AUTHOR}-column-reverse{ flex-direction: column-reverse; }
.#{$AUTHOR}-wrap{ flex-wrap: wrap; }
.#{$AUTHOR}-nowrap{ flex-wrap: nowrap; }
.#{$AUTHOR}-j_start{ justify-content: flex-start; }
.#{$AUTHOR}-j_end{ justify-content: flex-end; }
.#{$AUTHOR}-j_between{ justify-content: space-between; }
.#{$AUTHOR}-j_center{ justify-content: center; }
.#{$AUTHOR}-j_around{ justify-content: space-around; }
.#{$AUTHOR}-a_center{ align-items: center; }
.#{$AUTHOR}-a_stretch{ align-items: stretch; }
.#{$AUTHOR}-a_start{ align-items: flex-start; }
.#{$AUTHOR}-a_end{ align-items: flex-end; }
.#{$AUTHOR}-as_end{ align-self: flex-end; }
@for $i from 1 through 5 {
    .#{$AUTHOR}-flex_#{$i} {
        flex: #{$i};
    }
}

// 常用margin
@for $i from 1 through 5 {
    .#{$AUTHOR}-m_#{$i}0 {
        margin: #{$i}0rpx;
    }
	.#{$AUTHOR}-mx_#{$i}0 {
		margin-left: #{$i}0rpx;
		margin-right: #{$i}0rpx;
	}
	.#{$AUTHOR}-my_#{$i}0 {
		margin-top: #{$i}0rpx;
		margin-bottom: #{$i}0rpx;
	}
	.#{$AUTHOR}-mr_#{$i}0 {
		margin-right: #{$i}0rpx;
	}
	.#{$AUTHOR}-ml_#{$i}0 {
		margin-left: #{$i}0rpx;
	}
	.#{$AUTHOR}-mt_#{$i}0 {
		margin-top: #{$i}0rpx;
	}
	.#{$AUTHOR}-mb_#{$i}0 {
		margin-bottom: #{$i}0rpx;
	}
}

// 常用padding
@for $i from 1 through 5 {
    .#{$AUTHOR}-p-#{$i} {
        padding: #{$i}0rpx;
    }
	.#{$AUTHOR}-px_#{$i} {
		padding-left: #{$i}0rpx;
		padding-right: #{$i}0rpx;
	}
	.#{$AUTHOR}-py_#{$i} {
		padding-top: #{$i}0rpx;
		padding-bottom: #{$i}0rpx;
	}
	.#{$AUTHOR}-pr_#{$i} {
		padding-right: #{$i}0rpx;
	}
	.#{$AUTHOR}-pl_#{$i} {
		padding-left: #{$i}0rpx;
	}
	.#{$AUTHOR}-pt_#{$i} {
		padding-top: #{$i}0rpx;
	}
	.#{$AUTHOR}-pb_#{$i} {
		padding-bottom: #{$i}0rpx;
	}
}